html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-weight: inherit;
font-style: inherit;
font-size: 100%;
font-family: inherit;
vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
outline: 0;
}
body {
line-height:1em;
color: black;
background: white;
font-family: Tahoma, Verdana, Sans-Serif;
}
ol, ul {
list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
border-collapse: separate;
border-spacing: 0;
}
caption, th, td {
text-align: left;
font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: "";
}
blockquote, q {
quotes: "" "";
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

div#scrolobble {
    height: 100%;
    width: 100%;
    overflow: auto;
}

td.mixed {
	text-align: center;
}

td.number {
	text-align: right;
	}

#content h1 {
	font-size: 32px;
	font-weight: 100;
    font-style: italic;
    font-family: Georgia, Cambria, Times;
	margin: 0px 0px 10px;
}

#content h1:first-letter {
     color: #f00;
}

div.form h1 {
    font-size: 125%;
    font-weight: bold;
    margin: 0px 0px 30px;
}

#content h2 {
    font-size: 125%;
    font-weight: bold;
	margin: 5px 0px 10px 0px;
}            


#content h3 {
	margin: 5px 0px 10px 0px;
    font-weight: bold;
}

#content h4 {
    font-size: 14px;
    font-style: italic;
    color: #bbb;
    font-weight: 100;
    font-family: Georgia, calibri, verdana;
    margin-left: 5px;
}

div.body {
    padding: 50px;
}

center tt {
    font-family : Courier New, monospace;
    font-size: 80%;
}

.text {
    font-size:12px;
    color:#404040;
}

div#hello {
    font-family: Georgia;
    font-style: italic;
	text-align: right;
	margin: 0px;
	padding: 10px 10px 10px 0px;
}

div#hello a{
       color: #f00;
}

div.login {
	text-align: center;
}

div.login form {
	display: inline;
	width: 500px;
}

div.login form div.form {
	display: block;
	text-align: left;
	width: 500px;
    padding: 15px;
    border: 2px solid #b7ddf2;
    background-color: #ebf4fb;
}

div.login div.form label {
	float: left;
	font-size: 90%;
	width: 140px;
	margin-top: 8px;
}

div.login div.form input {
   font-size:0.8em;
   padding:4px 2px;
   border:solid 1px #aacfe4;
   width:200px;
   margin:2px 0 10px 10px;
}

div.login div.form input.button {
    clear: both;
    margin-left:150px;
    width:125px;
    height:30px;
    background:#666;
    text-align:center;
    color:#fff;
    border:none
}

div#content {
	padding: 0px 20px 0px;
}

#content form {
    display: inline;
}

div.form {
    display: block;
    text-align: left;
    padding: 10px;
    background-color: #fff;
    border: 2px solid #BBBBBB;
    border-radius: 4px;
}

form .form_stage{
    clear: both;
    overflow: hidden;
    float: none;
    margin: 10px 0px; 
}

#content div.filter_form {
    display: block;
    text-align: left;
    padding: 15px;
    border: 2px solid #bbb;
    background-color: #fff;
}

#content div.filter_form label {
    font-size: 70%;
    width: 50px;
    margin-top:3px;
    display: block;
    float: left;
}

#content div.filter_form input[type=text] {
   font-size:12px;
   padding:2px 2px;
   border:solid 1px #bbb;
   width:150px;
   margin:2px 0 10px 10px;
   float: left;
}

#content div.filter_form input[type=checkbox] {
   font-size:12px;
   float: left;

}

#content div.filter_form label.checkbox {
    float: none;
    display: block;
    width: 80%;
    margin-top: 0px;
}

#content div.filter_form select  {
   font-size:12px;
   padding:2px 2px;
   border:solid 1px #aacfe4;
   width:260px;
   margin:2px 0 10px 10px;
}

div.form label {
    font-size: 90%;
    padding-left: 20px;
    width: 25%;
    margin-top:2px;
    display: block;
    float: left;
    font-family: Calibri;
}

div.form input[type=text], div.form input[type=password] {
   font-size:12px;
   padding:2px 2px;
   border:solid 1px #bbb;
   width:400px;
   margin:2px 0 10px 10px;

}

div.form div.selectedList {
	font-size: 12px;
	padding: 2px 2px;
	margin: 2px 0 10px 10px;
}

div.form div.selectedList span {
	font-style: normal;
}

div.form div.selectedList span a {
	color: blue;
	text-decoration: underline;
}

div.form table.form td input[type=text] {
    width: 95%;
}

div.form table.form td iframe.editor {
    width: 95%;
    margin: 2px 0px 10px 10px;
    border:solid 1px #bbb;
}

div.form input.error, select.error,textarea.error {
    border: solid 1px red;
    background-image: url('/backend/img/exclamation.png');
    background-repeat: no-repeat;
    background-position: right;
    background-color: #FFAAAA;
    color: white;
}
div.form label.error{
	background-image: url('/backend/img/exclamation.png');
	background-repeat: no-repeat;
	background-position: left;	
    color: red;
}

div.form select.error {
    border: solid 1px red;
    background-color: #FFAAAA;
    color: white;
}

div.form input[type=checkbox] {
   font-size:12px;
   float: left;

}

div.form label.checkbox {
    float: none;
    display: block;
    width: 80%;
    margin-top: 0px;
}

div.form select  {
   font-size:12px;
   padding:2px 2px;
   border:solid 1px #bbb;
   width:360px;
   margin:2px 0 10px 10px;
}

div.form textarea {
   font-size:12px;
   padding:2px 2px;
   border:solid 1px #bbb;
   width:360px;
   margin:2px 0 10px 10px;
}

div.form table.form textarea {
   width:95%
}

div.form div.buttonpanel {
    margin-top: 10px;
    text-align: right;
    clear: both;
}

div.form  input[type=submit] {
	font-size:12px;
    clear: both;
    width:150px;
    height:25px;
    background:#666;
    text-align:center;
    color:#fff;
    border:none
}

div.form fieldset {
    border: 1px solid #bbb;
    border-radius: 3px;
    padding: 5px;
}

div.form p {
    margin-bottom: 10px;
    margin-left: 28% !important;
    font-family: Georgia;
    font-style: italic;
    font-size: 12px;
}

div#params_edit_container{
    z-index: 50;
}
div#content_edit_container{
    z-index: 10;
}

div.form ul.num {
	list-style-type: decimal;
	list-style-position: inside;
    font-size: 12px;
}

div.form ul.acls {
    list-style-type: none;
    list-style-position: outside;
    font-size: inherit;
}

div.form ul.acls li {
	display: block;
	clear: both;
	padding: 10px 0px 0px 0px;
}

div.form  li ul.acls li {
	padding: 10px 0px 0px 20px;
}

div.form ul.acls li input#m_permitions_acl_users + label + ul > li > input {
	border: 1px solid black;
}

div.form fieldset legend {
    font-size: 16px;
    padding: 5px;
    margin-left: 15px;
    color: #44797d;
    font-weight: 100;
    font-family: Georgia;
    font-style: italic;
}

div.form fieldset legend.toggler{
    border-bottom: 1px dashed #bbb;
    margin-bottom: 0px;
}

#content table{
    width: 100%;
}

#content table td {
    vertical-align: top;
}

#content table td#leftpanel {
    width: 300px;
    border: 1px solid #aacfe4;
}

#content table td#leftpanel .header {
    height: 24px;
    background-image: url('/backend/img/bg-header.gif');
    background-repeat: repeat-x;
    font-size: 12px;
    color: white;
    padding: 3px;
    font-weight: bold;
}

#content table td#leftpanel #leftpaneldiv {
    overflow: hidden;
}

#content table td#leftpanel #leftpaneldata {
    font-size: 12px;
    padding: 5px;
    height: 96%;
    overflow: scroll;
}

#content table td#leftpanel a#hidePanel {
    background-image: url('/backend/img/bg-header.gif');
    background-repeat: repeat-x;
    float: right;
    display: block;
    padding: 4px 4px 5px 4px;
}


#content table td.spacer {
    width: 25px;
}

div#actionmessage {
    padding: 0px 0px 0px 37px;
    margin: 5px;
    height: 32px;
    line-height: 32px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: left middle;
}

div#actionmessage.success {
	background-image: url('/backend/img/am_success.png');
    border: 1px solid green;
    background-color: #AAFFAA;
    color: green;
}

div#actionmessage.error {
	background-image: url('/backend/img/am_error.png');
    border: 1px solid red;
    background-color: #FFAAAA;
    color: red;
}

div#actionmessage.info {
    background-image: url('/backend/img/am_info.png');
    border: 1px solid blue;
    background-color: #AAAAFF;
    color: blue;
}

a, a:hover, a:active, a:visited {
    text-decoration: none;
    color: black;
}

table.text tr th u a
{
    text-decoration: none;
    font-family: Georgia;
    font-style: italic;
}

div.operation { margin-top: 10px; }

div.operation a {
    font-size: 70%;
    font-weight: bold; 
    background-position: left middle;
    background-repeat: no-repeat;
    padding: 0px 0px 0px 18px;
    height: 16px;
    line-height: 16px;
    vertical-align: middle;
    display: block;
    float: right;
    margin-right: 10px;
}

div.operation a.add {
    background-image: url('/backend/img/add.png');
}

div.operation a.list {
    background-image: url('/backend/img/list.png');
}

div.operation a.accept {
    background-image: url('/backend/img/accept.png');
}

div.operation a.delete {
    background-image: url('/backend/img/delete.png');
}

div.operation a.page_edit {
    background-image: url('/backend/img/page_edit.png');
}

div.operation a.page_go {
    background-image: url('/backend/img/page_go.png');
}

div.operation a.page_delete {
    background-image: url('/backend/img/page_delete.png');
}

div.operation a.content_edit {
	background-image: url('/backend/img/application_form_edit.png');
}

div.operation a.left {
    background-image: url('/backend/img/arrow_left.png');
    line-height: 14px;
}


a img { border: 0; }

div.table_body {
	margin-top: 20px;
}

div.table_body table {
    border-collapse: collapse;
    width: 100%;
}

div.table_body table th, div.table_body table td {
	border: 1px solid #bbb;
}

div.table_body table th {
	text-align: center;
	font-weight: bold;
	padding: 5px;
	background-color: #eee;
}

div.table_body table td {
    padding: 2px;
    vertical-align: middle;
}


img#contentblocker {
    background-attachment:fixed;
    background-color:transparent;
    background-image:url(/backend/img/wait.gif);
    background-position:50% 50%;
    background-repeat:no-repeat;
    left:0px;
    position:absolute;
    top:0px;
}

div.paging * {
	display: block;
	float: left;
	width: 18px;
	height: 16px;
	line-height: 16px;
	vertical-align: middle;
	text-align: center;
	font-size: 70%;
    margin: 5px;
}

div.paging span {
    font-weight: bold;
    color: #BBBBBB;
    background-color: #EEEEEE;
}

div.paging span.sep {
    font-weight: bold;
    color: #BBBBBB;
    background-color: #ffffff;
}

div.paging a {
    font-weight: bold;
    color: #BBBBBB;
    text-decoration: underline;
}


.popupContainer {
    position: absolute;
    z-index: 10001;
    background-color: #FFFFFF;
    border: 1px solid #b7ddf2;
}

.popupContainer .popupTitle {
    height: 24px;
    background-image: url('/backend/img/bg-header.gif');
    background-repeat: repeat-x;
    font-size: 12px;
    color: white;
    padding: 3px 10px;
    font-weight: bold;
}

.popupContainer .contentPanel {
    padding: 5px 10px;
}

.popupContainer .buttonPanel {
    height: 40px;
    background-color: transparent;
    border: 0px solid red;
    padding-top: 16px;
}

.popupContainer .buttonPanel .button {
    height: 24px;
    background-image: url('/backend/img/bg-header.gif');
    background-repeat: repeat-x;
    border: none;
    width: 150px;
    float: right;
    margin-right: 20px;
    font-weight: bold;
    color: white;
    font-size: 12px;
}

img#windowblocker {
    left:0px;
    position:absolute;
    top:0px;
    z-index: 10001;
}

#content table#page_conent td {padding: 10px;}

#content table#page_conent td#left_zone div {
    border: 1px solid #b7ddf2;
    background-color: #ebf4fb;
    width: 140px;
    height: 50px;
    line-height: 2em;
    font-size: 12px;
    vertical-align: middle;
    text-align: center;
    margin-bottom: 5px;
    display: block;
    cursor: move;
}

#content table#page_conent td div.drop_zone {
    margin: 2px;
    padding: 5px;
    overflow: auto;
}
#content table#page_conent td div#page_zone {
    border: 1px solid #b7ddf2;
}

div.popupdiv label {
	font-size: 12px;
}

div.popupdiv input {
	display: block;
	float: left;
	padding-top: 5px;
	padding-right: 10px;
}

div.vertical {
    text-align: center;
    border: 1px solid blue;
    background-color: #EEF;
}

div.horizontal {
    border: 1px solid green;
    background-color: #EFE;
}

div#page_zone div.horizontal div {
    float: left;
}

#content table#page_conent td div#page_zone {
    height: 420px;
    margin: 10px 0px 0px 0px;
}

div.horizontal div.module {
    float: left;
}

div.drop_zone div.module {
    margin: 2px;
    background-color: #FEE;
}

div.drop_zone div.new {
    border: 1px solid red;
}

div.drop_zone div.current {
    border: 1px solid darkred;
}


input.flat, textarea.flat, select.flat  {
   font-size:12px;
   padding:2px 2px;
   border:solid 1px #aacfe4;
   width:260px;
   margin:2px 0 10px 10px;
}

span.important {
    color: red;
}

.quote:before, .quote:after {
    content: "\"";
}

#page_path a, #page_path b {
    font-size: 12px;
}

#page_path a {
	cursor: pointer;
	color: blue;
	text-decoration: underline;
}

#page_path span.delim {
	 font-size: 12px;
}
#page_path span.delim:before, #page_path span.delim:after {
    content: " ";
}

img.dateselector {
    border: none;
    margin: 3px 0px 0px 2px;
    float: left;
    display: block;
    left: -19px;
}

img.dateselector_clear {
	border: none;
    margin: 3px 0px 0px 2px;
    float: left;
    display: block;
    left: -20px;
}

div.popup_content {
	font-size: 12px;
}

div.popup_content a {
    color: #aacfe4;
    text-decoration: underline;
}

#metatags a {
	font-size: 12px;
    color: #aacfe4;
    text-decoration: underline;
}

div.tabbox {

}

div.tabbox ul.tabs {
	list-style-type: none;
	list-style-image: none;
	position: relative;
}

div.tabbox ul.tabs li {
	display: block;
	float: left;
	width: 200px;
	text-align: center;
	background-color: #ebf4fb;
	border: 1px solid #b7ddf2;
	line-height: 30px;
	height: 30px;
	vertical-align: middle;
	cursor: hand;
	cursor: pointer;
	font-size: 12px;
}

div.tabbox div#tabcontent {
	border: 1px solid #b7ddf2;
	top: -1px;
	position: relative;
	z-index: 0;
	padding: 5px;
}

div.tabbox ul.tabs li.selected {
	background-color: white;
	border-bottom: 1px solid white;
	font-weight: bold;
}

table#page_conent td {padding: 10px;}

table#page_conent td#left_zone div {
    border: 1px solid #b7ddf2;
    background-color: #ebf4fb;
    width: 140px;
    height: 50px;
    line-height: 2em;
    font-size: 12px;
    vertical-align: middle;
    text-align: center;
    margin-bottom: 5px;
    display: block;
    cursor: move;
}

table#page_conent td div.drop_zone {
    margin: 2px;
    padding: 5px;
    overflow: auto;
}
table#page_conent td div#page_zone {
    border: 1px solid #b7ddf2;
}

div.vertical {
    text-align: center;
    border: 1px solid blue;
    background-color: #EEF;
}

div.horizontal {
    border: 1px solid green;
    background-color: #EFE;
}

div#page_zone div.horizontal div {
    float: left;
}

table#page_conent td div#page_zone {
    height: 420px;
    margin: 10px 0px 0px 0px;
}

div.horizontal div.module {
    float: left;
}

div.drop_zone div.module {
    margin: 2px;
    background-color: #FEE;
}

div.drop_zone div.new {
    border: 1px solid red;
}

div.drop_zone div.current {
    border: 1px solid darkred;
}

input.flat, textarea.flat, select.flat  {
   font-size:0.6em;
   padding:2px 2px;
   border:solid 1px #aacfe4;
   width:260px;
   margin:2px 0 10px 10px;
}

span.important {
    color: red;
}

.quote:before, .quote:after {
    content: "\"";
}

div#page_path a, #page_path b {
    font-size: 12px;
}

div#page_path a {
	cursor: pointer;
	color: blue;
	text-decoration: underline;
}

div#page_path span.delim {
	 font-size: 12px;
}
div#page_path span.delim:before, #page_path span.delim:after {
    content: " ";
}

a.blue_big
{
    font-size:13px;
    color:#336699;
    font-weight:bold;
}

#content .alex_table table td
{
  vertical-align:middle;
  text-align:center;
}

.fileUploadQueue .fileUploadQueueItem div.cancel,
.fileUploadQueue .fileUploadQueueItem span.fileName,
.fileUploadQueue .fileUploadQueueItem span.percentage,
.fileUploadQueue .fileUploadQueueItem div.fileUploadProgress
{
    display:none;
}
div.fileAlexUploadProgress
{
    width:98%;
    height:14px;
    background-color:Blue;
    padding:3px;
    padding-top:3px;
    padding-bottom:0px;
    vertical-align:middle;
}
div.fileAlexUploadProgress .progressBarLeft
{
     background-color:White;
     background-image:url("/img/progress.png");
     background-position:left centerl;
     background-repeat:repeat-x;
     float: left;
     text-align:right;
     font-size:10px;
     width:0%;
}

div.fileAlexUploadProgress .progressBarRight
{
    background-color:white;
    float: left;
    text-align:right;
    font-size:10px;
    display:block;
    width:100%;
}
.moduletitle
{
    width:100%;
    text-align: center;
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: 800;
}

.srow
{
    background-color:#ddf7e7;
}
.frow
{
    background-color: #ddedf9;
}

.frow td, .srow td
{
    padding-left: 10px;
    border-bottom: 1px silver dashed;
}

legend:hover
{
    cursor:pointer;    
}

tr.frow:active, tr.frow:hover, tr.srow:active, tr.srow:hover{background-color:#f7f4f4;}

.dragimage
{
    
}
.myDragClass
{
    background-color: orange;
    opacity: 0.5;
}
.imgnone
{
    display: none;
}

.cron_catpion {
    background-color: #DDDDDD;
    border: 1px solid blue;
    text-align: center;
    vertical-align: middle;
    width: 50px;
}
.cron_block {
    border-bottom: 1px solid #DEDEDE;
    border-right: 1px solid #DEDEDE;
    height: 50px;
    padding-top: 3px;
    width: 150px;
}
#cron_table_list {
    font-size: 10px;
}
.cron_elem_box {
    border: 1px solid #DFDFDF;
    margin: 3px;
    padding: 0 5px;
}
.cron_elem_box:hover {
    background-color: #DCDCDC;
    cursor: help;
    font-weight: bold;
}
.ui-autocomplete li p {
    color: red;
    display: inline;
    float: right;
    font-size: 17px;
}

.purse{
    background: url('/backend/img/purse.png') 50% 50% no-repeat;     
}
.durations{
    background: url('/backend/img/durations.png') 50% 50% no-repeat;
}
.durations div{
    width: 58px;
    height: 100%;    
}

/* HELPERS  */
.h_clear{
    float: none;
    clear: both;
    overflow: hidden;
}
/* /HELPERS */