@charset "utf-8";

/* ImageFlow Settings
==================================== */
@media screen, projection {
	.imageflow {
		overflow:hidden;
		position:relative; 
		text-align:left;
		visibility:hidden;
		width:100%;
	}
	.imageflow img {
		border:none;
		position:absolute;
		top:0px;
		visibility:hidden;
		-ms-interpolation-mode:bicubic; /* Enables bicubic image resampling for the IE7 */
	}
	.imageflow p {
		margin:0 auto;
		text-align:center;
	}
	.imageflow .loading {
		border:1px solid white;
		height:15px;
		left:50%;
		margin-left:-106px;
		padding:5px;
		position:relative;
		visibility:visible;
		width:200px;
	}
	.imageflow .loading_bar {
		background:#fff;
		height:15px;
		visibility:visible;
		width:1%;
	}
	.imageflow .navigation{
		z-index:10000;
	}
	.imageflow .caption {
		font-weight:bold;
		position:relative; 
		text-align:center;
		z-index:10001;
	}
	.imageflow .scrollbar {
		border-bottom:1px solid #b3b3b3;
		position:relative; 
		visibility:hidden;
		z-index:10002;
		height:1px;
	}
	.imageflow .slider {
		background:url(/img/imageflow/slider_dark.png) no-repeat;
		height:14px;
		margin:-6px 0 0 -7px;
		position:absolute;
		width:14px;
		z-index:10003;
	}
	.imageflow .slideshow {
		cursor:pointer;
		height:14px;
		margin:20px 0 0 20px;
		position:absolute;
		width:14px;
		z-index:10003;
	}
	.imageflow .slideshow.pause {
		background:url(/img/imageflow/button_pause.png) no-repeat;
	}
	.imageflow .slideshow.play {
		background:url(/img/imageflow/button_play.png) no-repeat;
	}
	.imageflow .images {
		overflow:hidden;
		white-space:nowrap;
	}
	.imageflow .button {
		cursor:pointer;
		height:17px;
		position:relative;
		width:17px;
	}
	.imageflow .previous {
		background: url(/img/imageflow/button_left.png) top left no-repeat;
		float:left;
		margin: -7px 0 0 -30px;
	}
	.imageflow .next {
		background: url(/img/imageflow/button_right.png) top left no-repeat;
		float:right;	
		margin:-7px -30px 0 30px;
	}
    
    .img_flow_navigation
    {
        -moz-border-radius:3px 3px 3px 3px;
        -webkit-border-radius:3px 3px 3px 3px;
        border-radius:3px 3px 3px 3px;
        background:none repeat scroll 0 0 #FFFFFF;
        border:2px solid #333333;
        height:30px;
        opacity:0.8;
        text-align:center;
        vertical-align:middle; 
        width: 115px;
        margin: auto; 
        margin-top:10px;
        background: url("/img/imageflow/controlbar-black-border.gif") no-repeat scroll -1px -95px transparent;
    }
    
    a.img_flow_prev_image, a.img_flow_next_image, a.img_flow_close_image 
    {
        display:block;
        float:right;
        height:30px;
        margin-right:6px;
        text-decoration:none;
        width:30px;
    }
    
    .img_flow_next_image
    {
        background: url("/img/imageflow/controlbar-black-border.gif") no-repeat scroll -90px -60px transparent;
    }
    
    .img_flow_next_image:hover
    {
        background: url("/img/imageflow/controlbar-black-border.gif") no-repeat scroll -90px -30px transparent;
    }
    
    .img_flow_close_image
    {
        background: url("/img/imageflow/controlbar-black-border.gif") no-repeat scroll -180px -60px transparent;
    }
    
    .img_flow_close_image:hover
    {                    
        background: url("/img/imageflow/controlbar-black-border.gif") no-repeat scroll -180px -30px transparent;
    }
    
    .img_flow_prev_image
    {
        background: url("/img/imageflow/controlbar-black-border.gif") no-repeat scroll 0 -60px transparent;
    }
    
    .img_flow_prev_image:hover
    {
        background: url("/img/imageflow/controlbar-black-border.gif") no-repeat scroll 0 -30px transparent;
    }
    

    #imageFlowSemafor{
        height: 0px;
        width: 0px;
        visibility: hidden;
        font-zise: 0px;        
    }

}