div#toolbar {background-color: #DFDCD7; padding-left: 10px; top: 0;}

DIV.main_menu_group {
    margin: 2px; border: 1px solid #DFDCD7; background-color:none; float: left; text-align: left; padding:3px; 
    cursor: default;
    display: block;
}

DIV.main_menu_item {
    margin: 2px; 
    border: 1px solid #DFDCD7; 
    background-color: none; float: left; text-align: left; padding:3px;
    cursor:pointer;
    cursor:hand;
    display: block;
}   

DIV.main_menu_child_item_noimage {
    margin: 1px; border: 0px solid black; 
    text-align: left;
    padding: 4px 4px 4px 25px; 
    cursor:pointer;
    cursor:hand;
    display: block;
    width: 220px;
}   

DIV.main_menu_child_item {
    margin: 1px; 
    border: 0px solid black; 
    text-align: left;
    padding: 4px 4px 4px 4px; 
    cursor:pointer;
    cursor:hand;
    display: block;
    width: 241px;
}

DIV.main_menu_child_item img {
    margin-right: 5px;
}

DIV.popup_item {
    font-size: 12px;
}