* {
    margin: 0;
    padding: 0;
    
}
html{
background: url("/img/fon.jpg");
}
body{
background:  url("/img/back_body.jpg") repeat-x 0% 0%;

}
html, body { 
    min-height: 800px;
}
.SC_wrapper {
    width: 980px;
    margin: 0px auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;

    }
.SC_header {
    height: 437px;
    position: relative;
    background: url("/img/back_header.png") no-repeat; 
}
.SC_middle {
    width: 100%;
    height: 1%;
    padding-bottom: 394px;
}
.SC_middle:after {
    content: '.';
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}
.SC_container {
    width: 100%;
    float: left;
    overflow: hidden;
    
}
.SC_content {
    padding: 0px 0px 0px 330px; 
    min-height: 1px;
    
}
.SC_left_column {
    float: left;
    width: 320px;
    margin-left: -100%;
    position: relative;
    
    
}
.SC_right_column{
    float: left;
    margin-right: -3px;
    width: 245px;
    margin-left: -245px;
    position: relative;
}
.SC_footer {
    margin: -394px 0 0;
    height: 394px;
    font-family: Arial;    
}
/* MENU */
.menu_wrp{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 65px;
    width: 100%;
    background: url("/img/menu/line_long.png") no-repeat 0 80%;
}
/* /MENU */



/* LOGO */
.logo_wrp{
    position: absolute;
    height: 205px;
    width: 176px;
    background: url("/img/logo.png");
    top: 0px;
    left: 0px;

}
.logo_wrp a{
    height: 205px;
    width: 176px;
    display: block;

}

/* /LOGO */

/* CONTACTS */
.contacts_wrp{
    position: absolute;
    height: 163px;
    width: 176px;
    /* background: green; */
    top: 206px;
    left: 0px;
    font-family: Arial;
    font-size: 14px;
    color: #fff;
    text-shadow: 1px 0 1px #030507;
}
.contacts_stage_01{
    padding-left: 16px;
    padding-top: 10px;
}
.contacts_stage_01 span{
    display: block;
    padding-bottom: 1px;
}
.contacts_stage_02{
    padding-left: 16px;
    padding-top: 17px;
}
.contacts_stage_02 span{
    display: block;
    padding-bottom: 1px;
}
/* /CONTACTS */
  
/* COMPAS */
.compas_wrp{
    position: absolute;
    height: 372px;
    width: 377px;
    /* background: #CEEDF3;  */
    top: 0px;
    left: 177px;
    
}              
/* /COMPAS */

/* REKLAMA */

.reklama_wrp{
/*
    position: absolute;
    height: 252px;
    width: 424px;
    top: 79px;
    right: 15px;
    overflow: hidden;
*/    
    height: 248px;
    overflow: hidden;
    position: absolute;
    right: 15px;
    top: 79px;
    width: 407px;
}
/* /REKLAMA*/

/* TOP MENU */
.menu_wrp ul{
    list-style: none outside none;
    display: block;
    overflow: hidden;
    
}
.menu_wrp li{
    list-style: none outside none;
    display: block;
    float: left;
    overflow: hidden;
    
}
/* /TOP MENU */



/* FOOTER_IN */
.footer_in{
    height: 349px;
    width: 1000px;
    margin: 0 auto;
    position: relative;
    
    background: url("/img/back_footer.png");
    font-family: Arial;
    font-size: 12px;
}

.contacts_stage_03{
    padding-left: 233px;
    padding-top: 100px;
}

.contacts_stage_03 span{
    display: block;
    padding-bottom: 1px;
}
/* /FOOTER_IN */

/* LEFT COUNTRIES */
.left_countries{
    height: auto;
    width: 339px;
    
}

.soc_facebook{
    margin-top: 10px;
    display: block;
    width: 320px;

    


}
/* list_a_wrap */
.list_a_wrap{
  
    padding: 5px 20px;
    overflow: hidden;
    clear: both;
}
.list_a_wrap:after{
    content: '.';
    clear: both;
    height: 0px;
    visibility: hidden;
    display: block;
}
.list_a_wrap ul{
    list-style: none;
}
.list_a_wrap ul li{
    list-style: none;
    display: block;
    width: 50%;
    height: 30px;
    line-height: 30px;
}
.list_a_wrap ul li a{
    text-decoration: none;
    color: #484848;
    height: 30px;
    line-height: 30px;
    display: block;
    font-family: Arial;
    font-size: 16px;
    padding-left: 30px;
    background: url(/img/list_a_md.png) 0% 50% no-repeat;
}
.list_a_wrap ul li a:hover{
    text-decoration: underline;
    background: url(/img/list_a_ma.png) 0% 50% no-repeat;
}
.list_a_wrap ul li.list_a_l{
    float: left;
}
.list_a_wrap ul li.list_a_r{
    float: right;
}
.list_a_wrap ul li.list_a_full{
    float: none;
    clear: both;
    width: 100%;
}
.left_menu_01_top{
    height: 10px;
}
.left_menu_01_1{
    height: 70px;
    width: 142px;
    display: block;
    
}
.left_menu_01_1 a{
    height: 70px;
    width: 142px;
    display: block;
    
    color: #000000;
    font-family: Cambria;
    font-size: 22px;
    line-height: 55px;
    text-align: center;
    text-decoration: none;
}
.left_menu_01_1 .active a,
.left_menu_01_1 a:hover{
    height: 70px;
    width: 142px;
    display: block;
    background: url(/img/menu/ico_shar.png) no-repeat 50% 45px;
    text-shadow: 0px 0px 7px #ffffbe;
}
.left_menu_01_2{
    height: 70px;
    width: 142px;
    display: block;
    
}
.left_menu_01_2 a{
    height: 70px;
    width: 142px;
    display: block;
    
    color: #000000;
    font-family: Cambria;
    font-size: 22px;
    line-height: 55px;
    text-align: center;
    text-decoration: none;

}
.left_menu_01_2 .active a,
.left_menu_01_2 a:hover{
    height: 70px;
    width: 142px;
    display: block;
    background: url(/img/menu/ico_shar.png) no-repeat 50% 45px;
    text-shadow: 0px 0px 7px #ffffbe;
}



.list_menu ul{
    display: block;
    list-style: none outside none;
    overflow: hidden;
    background: url(/img/menu/ico_line_2.png) repeat-x 0 50px;
    margin: 0 15px;
}
.list_menu li{
    display: block;
    float: left;
    list-style: none outside none;
    overflow: hidden;
}
.lm_01_1{
    background: url("/img/top_menu_01.png") no-repeat scroll 0 -1129px transparent;
    padding-left: 6px;
}
.lm_01_2{
    background: url("/img/top_menu_01.png") no-repeat scroll 100% -1179px transparent;
    padding-right: 6px;
}
/* /list_a_wrap */

.left_menu_top{
    padding-top: 10px;
    background: url("/img/top_menu_01.png") no-repeat;
}
.left_menu_mid{
    background: url("/img/middle_menu_01.png") repeat-y scroll 0 0 transparent;
}
.left_menu_bot{
    padding-bottom: 10px;
    background: url("/img/bottom_menu_01.png") no-repeat 0 100%;
}
.left_block_news{
    margin-top: 10px;
    display: block;
    
    width: 320px;


}

/* NEWS */
.news_wrp{

}

.news_list{
    list-style: none;
}
.news_list li{
    list-style: none;
}

.news_item_wrp{
    overflow: hidden;
    clear: both;
    padding-bottom: 9px;
}
.news_item_img_wrp{
    border: 3px #eee1bf solid;
    width: 118px;
    background: #fbf7ec;
    float: left;
    margin-top: 6px;
}
.news_item_img_holder{
    margin: 3px;
    border: 1px #6e6762 solid;
    width: 110px;
    height: 110px;
    overflow: hidden;
}
.news_item_img_holder img{
    width: 110px;
    display: block;
}
.news_item_info{
    overflow: hidden;
    padding-left: 10px;    
}
.news_item_wrp .title_01,
.news_item_wrp .title_01 a{
    background: url("/img/ico_dots.png") no-repeat scroll 0px 100% transparent;
    font-weight: bolder;
    overflow: hidden;
    padding-bottom: 4px;
    text-decoration: none;
    text-indent: 0;
    display: block;
}
.news_item_txt{
    font-family: Arial;
    font-size: 12px;
    padding-top: 8px;
    line-height: 17px;
}

/* /NEWS */

/* TILES */
.title_01{
    font-family: Arial;
    font-size: 16px;
    color: #c23333;
}
.news_item_info a:visited{
    font-family: Arial;
    font-size: 16px;
    color: #c23333;
}
.tabs_a_wrap ul li {
    display: block;
    font-family: Arial;
    font-size: 16px;
    list-style: none outside none;
    padding-bottom: 5px;
    text-decoration: none;
}

.tabs_a_wrap ul li a{
    display: block;
    font-family: Arial;
    font-size: 16px;
    list-style: none outside none;
    padding-bottom: 5px;
    text-decoration: none;
}

.title_001{
    font-family: Cambria;
    font-size: 22px;
    color: #000;
    padding: 10px 0px;
}
.title_002{
    font-family: Cambria;
    font-size: 22px;
    color: #000;
    padding:  10px 0px;
    background: url(/img/menu/line.png) no-repeat 0 100%;
}
/* /TILES*/

.wrp_day_price{
    overflow: hidden;
}

.day_price_1{
    width: 318px;
    height: 169px;
    background: url(/img/back_day_price.png);
    float: left;
}
.day_price_2{
    width: 318px;
    height: 169px;
    background: url(/img/back_day_price.png);
    float: right;
}
.day_price a{
    width: 318px;
    height: 169px;
    text-decoration: none;
}
.day_price_item_img_holder{
    margin: 3px;
    border: 1px #6e6762 solid;
    width: 144px;
    height: 88px;
    overflow: hidden;
    margin-top:64px;
    margin-left:16px;
    float: left;
}
.day_price_item_img_holder img{
    display: block;
    width: 144px;
    float: left;
    border: none;
}

.tour_search{
    width: 650px;
    height: 48px;
    background: url(/img/tout_search.png);
    margin-top: 10px;
    display: block;
}
.tour_search a{
      display: block;
      height: 100%

  }


.day_price_txt{
    overflow: hidden;
    
    
}

.day_price_txt_01{
    font-family: Cambria;
    font-size: 42px;
    color: #c23333;
    text-shadow: 1px 0 1px #ffffff;
    padding-left: 33px;
    padding-top: 10px;
    text-align: center;
}
.day_price_txt_02 b{
    font-family: Arial;
    font-size: 14px;
    }
.day_price_txt_02 {
    text-indent: 14px;
    font-family: Arial;
    font-size: 14px;
    padding-left: 17px;
    padding-top: 5px;
    line-height: 19px;
    color: #000;
}
.day_price_txt_03{
    font-family: Cambria;
    font-size: 23px;
    color: #615331;
    text-decoration: line-through;
    text-align: center;
}

.day_price_txt_04{
    font-family: Cambria;
    font-size: 31px;
    color: #c23333;
    text-shadow: 1px 0 1px #ffffff;
    text-align: center;

}

/* SEASON MIX */

.season_mix{
    overflow: hidden;
    display: block;
}

.season_mix_list{
    list-style: none;
}
.season_mix_list li{
    list-style: none;
    height: 144px;
    width: 25%;
    float: left;
}

.season_mix_item_wrp{
    overflow: hidden;
    clear: both;
    padding-bottom: 9px;
    width: 155px;
    margin: 0 auto;
}

.season_mix_item_img_wrp{
    border: 3px #eee1bf solid;
    width: 135px;
    height: 112px;
    background: #fbf7ec;
    float: left;
    margin-top: 6px;
    padding: 7px 7px 7px 7px;
    font-family: Arial;
    font-size: 14px;
    position: relative;
}

.season_mix_item_img_holder{
    margin: 3px;
    border: 1px #6e6762 solid;
    width: 129px;
    height: 88px;
    overflow: hidden;
    
}

.season_mix_item_img_holder img{
    width: 133px;
    display: block;
}

.season_mix_item_info{
    overflow: hidden;
}

.season_mix_title_01{}

.season_mix_item_txt{}

/* /SEASON MIX */

/* SEASON MIX PRICE*/
.season_mix_price_in{
    width: 118px;
    height: 21px;
    background: url(/img/season_mix_price_in.png) no-repeat 0 0;
    font-family: Arial;
    font-size: 12px;
    color: #c23333;
    position: absolute;
    text-align: right;
    bottom: 15px;
    left: 22px;

}
.season_mix_price_in h3{
     padding-top:  2px;
     padding-right: 2px;
}


/* /SEASON MIX PRICE*/

/* CENTRAL CONTAINER 02*/

.center_conteinet_02{
    overflow: hidden;
    display: block;
}


.center_conteinet_02_list{
    list-style: none;
}
.center_conteinet_02_list li{
    list-style: none;
    height: 224px;
    width: 25%;
    float: left;
}

.center_conteinet_02_item_wrp{
    overflow: hidden;
    clear: both;
    padding-bottom: 9px;
    width: 155px;
    margin: 0 auto;
    
}

.center_conteinet_02_item_img_wrp{
    border: 3px #eee1bf solid;
    width: 135px;
    height: 178px;
    background: #fbf7ec;
    float: left;
    margin-top: 6px;
    padding: 7px 7px 7px 7px;
    font-family: Arial;
    font-size: 14px;
    position: relative;
}
.center_conteinet_02_item_img_wrp h4{
    white-space: nowrap;    
    overflow: hidden;
    position: relative;
    height: 16px;
}

.center_conteinet_02_item_img_wrp h4 span{
    display: block;
    background: url("/img/season_mix_price_in.png") no-repeat scroll -35px 0 transparent;
    height: 100%;
    width: 10px;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 100;
}


.center_conteinet_02_img_holder{
    margin: 3px;
    border: 1px #6e6762 solid;
    width: 128px;
    height: 90px;
    overflow: hidden;
    
}

.center_conteinet_02_img_holder img{
    width: 133px;
    display: block;
}

.center_conteinet_02_item_info{
    overflow: hidden;
}
.center_conteinet_02_txt_01{
    font-family: Arial;
    font-size: 14px;
    line-height: 20px;
}
.center_conteinet_02_txt_02{
    font-family: Arial;
    overflow: hidden;
    clear: both;
}
.center_conteinet_02_txt_02 span{
    display: block;
    float: left;
    font-size: 12px;
    padding-top: 5px;
    text-align: left;
}
.center_conteinet_02_txt_02 b{
    font-family: Arial;
    font-size: 18px;
    color: #c23333;
    text-decoration: underline;
    float: right;
    text-align: right;
}

.center_conteinet_02_star,
.center_conteinet_02_star0,
.center_conteinet_02_star1,
.center_conteinet_02_star2,
.center_conteinet_02_star3,
.center_conteinet_02_star4,
.center_conteinet_02_star5{
    height: 22px;
}
.center_conteinet_02_star5    {     background: url(/img/ico_star.png) no-repeat  0 0; }
.center_conteinet_02_star4    {     background: url(/img/ico_star.png) no-repeat  -21px 0; }
.center_conteinet_02_star3    {     background: url(/img/ico_star.png) no-repeat  -42px 0; }
.center_conteinet_02_star2    {     background: url(/img/ico_star.png) no-repeat  -63px 0; }
.center_conteinet_02_star1    {     background: url(/img/ico_star.png) no-repeat  -84px 0; }
.center_conteinet_02_star0    {     background: url(/img/ico_star.png) no-repeat  -105px 0; }

/* /CENTRAL CONTAINER 02*/

/* MENU */
.menu_home{
    width: 65px;
    height: 65px;
    background: url(/img/menu/home.png) no-repeat ;
    display: block;
    display: block;
    float: left;
}
.menu_home a{
    width: 65px;
    height: 65px;
    display: block;
    
}
.menu_home a.act,
.menu_home a:hover{
    width: 65px;
    height: 65px;
    background: url(/img/menu/home_hover.png) no-repeat ;
    display: block;
}
.menu_about_company{
    width: 168px;
    height: 65px;
    
    display: block;
}
.top_menu ul li a{
    height: 65px;
    display: block;
    color: #000000;
    font-family: Cambria;
    font-size: 22px;
    line-height: 55px;
    text-align: center;
    text-decoration: none;
    
}
.top_menu ul li.active a,
.top_menu ul li a:hover{
    height: 65px;
    display: block;
    text-shadow: 0px 0px 7px #ffffbe;
    background: url("/img/menu/menu_hover_back.png") no-repeat scroll 0 11px transparent;
}
.top_menu ul li a span{
    display: block  !important;
    height: 100%  !important;
    margin-left: 6px !important;
    padding-left: 19px;
    padding-right: 25px;
}
.top_menu ul li.active a span,
.top_menu ul li a:hover span{
    background: url("/img/menu/menu_hover_back.png") no-repeat scroll 100% -52px transparent !important;
}


.menu_our_services{
    width: 177px;
    height: 65px;
    
    display: block;
}
.menu_our_services a{
    width: 177px;
    height: 65px;
    display: block;
    color: #000000;
    font-family: Cambria;
    font-size: 22px;
    line-height: 55px;
    text-align: center;
    text-decoration: none;
}
.menu_our_services a.act,
.menu_our_services a:hover{
    width: 177px;
    height: 65px;
    
    display: block;
    text-shadow: 0px 0px 7px #ffffbe;
}
.menu_tours_prices{
    width: 178px;
    height: 65px;
    display: block;
}
.menu_tours_prices a{
    width: 178px;
    height: 65px;
    display: block;
    color: #000000;
    font-family: Cambria;
    font-size: 22px;
    line-height: 55px;
    text-align: center;
    text-decoration: none;
}
.menu_tours_prices a.act,
.menu_tours_prices a:hover{
    width: 178px;
    height: 65px;
    
    display: block;
    text-shadow: 0px 0px 7px #ffffbe;
}
.menu_gallery{
    width: 130px;
    height: 65px;
    
    display: block;
}
.menu_gallery a{
    width: 130px;
    height: 65px;
    display: block;
    color: #000000;
    font-family: Cambria;
    font-size: 22px;
    line-height: 55px;
    text-align: center;
    text-decoration: none;
}
.menu_gallery a.act,
.menu_gallery a:hover{
    width: 130px;
    height: 65px;
    
    display: block;
    text-shadow: 0px 0px 7px #ffffbe;
}
.menu_tourist_guide{
    width: 260px;
    height: 65px;
    
    display: block;
}
.menu_tourist_guide a{
    width: 260px;
    height: 65px;
    display: block;
    color: #000000;
    font-family: Cambria;
    font-size: 22px;
    line-height: 55px;
    text-align: center;
    text-decoration: none;
}
.menu_tourist_guide a.act,
.menu_tourist_guide a:hover{
    width: 260px;
    height: 65px;
    
    display: block;
    text-shadow: 0px 0px 7px #ffffbe;
}

/* /MENU */

.line_2{
    width:288px;
    height:2px;
    
    
}

/* STATIC PAGE */

.content,
.static_page{
   font-family: Arial;
   font-size: 14px;

}
.content h1,
.static_page h1{
   font-family: Cambria;
   font-size: 22px;
   font-weight: normal;
   padding-top: 25px;

   padding-bottom: 20px;

}
.content h2,
.static_page h2{
   font-family: Cambria;
   font-size: 18px;
   font-weight: normal;
}
.content ul,
.static_page ul{
   padding-left: 10px;
}
.content table,
.static_page table{
   border-collapse: collapse;
   }

.content td,
.static_page td{
    padding: 4px;
}

.content,
.but1 active  {
      padding-bottom: 5px;
      font-family: Arial;
}
a {
  color: #ffef42;
   }
a:visited {
  color: #ffd998;
  }



/* /STATIC PAGE */

/* NEWS */
.block_a_md   a{
    font-family: Cambria;
    font-size: 22px;
    color: #000;
    text-decoration: none;
}
.border_simple{
    list-style: none outside none;
    padding-top: 20px;
}
.title_g {

    font-family: Arial;
    font-size: 16px;
    text-decoration: none;
    color: #C23333;
}
.title_g a{

    font-family: Arial;
    font-size: 16px;
    text-decoration: none;

}

.n_txt_inf_a   {
    font-family: Arial;
    font-size: 12px;
    line-height: 17px;
    padding-top: 5px;
}
.tabs_a_wrap h_pad3 li{
      list-style: none outside none;
      font-family: Arial;
      font-size: 16px;
}
.block_a_bd li{
      list-style: none outside none;
      font-family: Arial;
      font-size: 16px;
      padding-bottom: 5px;
      color: #484848;
      display: block;
      text-decoration: none;

}
.block_a_bd ul li a{
      list-style: none outside none;
      font-family: Arial;
      font-size: 16px;
      padding-bottom: 5px;

      display: block;
      text-decoration: none;
}
.title_003{
     color: #000000;
    font-family: Cambria;
    font-size: 22px;
    text-decoration: none;
    background: url("/img/menu/ico_line_2.png") repeat-x scroll 0 60px transparent;
  }

.pager{
     padding-top: 10px;
  }
.pager span{
      list-style: none outside none;
      font-family: Arial;

}
.pager a{
      font-family: Arial;
}
.view {
    padding-top: 5px;
  }
.block_a_md{
    color: #C23333;
    font-family: Arial;
    font-size: 16px;
     }
/* /NEWS */


/* FORM_b */
.form_b {
    overflow: hidden;
    clear: both;
    border: 1px solid #A0A0A0;
    border-radius: 4px 4px 4px 4px;    
    padding: 20px 0 17px 10px;
    margin-bottom: 20px;
}
.form_b:after{
    content: ".";
    visibility: hidden;
    clear: both;
    height: 0px;
}
.form_b fieldset{ 
    border: none;
    overflow: hidden;
    margin-bottom: 10px;
    float: left;    
}
.form_b fieldset legend{
    display: block;
    font-size: 12px;
    line-height: 20px;     
}
.form_b fieldset label,
.form_b fieldset div.form_a_data{
    display: block;
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;        
}
.form_b fieldset label input[type="text"],
.form_b fieldset label select{
    height: 20px;
    border: 1px solid #838383;
    background: #FFFFFF;
    font-size: 12px;
    line-height: 20px;
}
.form_b fieldset .form_b_data input[type="text"]{
    width: 70px;
    text-align: center;
}
.form_b label textarea{
    width: 400px;
    height: 100px;
    border: 1px solid #838383;
    background: #FFFFFF;
    font-size: 12px;
    line-height: 20px;
}

.form_b .form_b_data{
    display: block;
    overflow: hidden;
}
.form_b .form_b_data span{
    display: block;
    width: 20px;
    float: left;
    text-align: center;
}
.form_b .form_b_data input[type="text"]{
    height: 20px;
    border: 1px solid #838383;
    background: #FFFFFF;
    font-size: 12px;
    line-height: 20px;
    width: 159px;
    display: block;
    float: left;
}
.form_b  .form_b_inline *{
    display: inline;
    vertical-align: middle;
}
.form_b  .form_b_inline span{
    margin: 0px 10px 0px 2px ;
    font-size: 12px;
    line-height: 20px;
}
.form_b .form_b_mid{
    width: 100px;
}
.form_b .form_b_mid input[type="text"],
.form_b .form_b_mid select{
    width: 98px;
}
 
.form_b .fbh_0{
    width: 160px;
    margin-right: 8px;
} 

.form_b .fbh_1{
    width: 160px;
    margin-right: 8px;
}
.form_b .fbh_1 select{
    width: 160px;
}
.form_b .fbh_2{
    width: 185px;
    margin-right: 8px;    
}
.form_b .fbh_2 select{
    width: 160px;
}
.form_b .fbh_3{
    width: 100px;
    margin-right: 8px;    
}
.form_b .fbh_3 select{
    width: 100px;
}
.form_b .fbh_4{
    width: 100px;
}
.form_b .fbh_5{
    height: 11px;
    display: block;
}
.form_b .fbh_6{
    width: 99%;
}
.form_b .fbh_6 input{
    width: 99%;
}

.form_b .fbh_7{
    width: 263px;
}
.form_b .fbh_8{
    width: 165px;
    margin-right: 32px;    
}
.form_b .fbh_8 select{
    width: 160px;
}
.form_b .twc_r{
    float: right
}
.controllRight{
    float :right !important;
    margin-right: 23px;
}

/* /FORM_b */